# Godot 4+ specific ignores
.godot/
/android/

.idea/

# === OS Files ===
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# === Others ===
# Environment variables file
# .env

# Log files
# *.log
# logs/
*.user
